{% extends 'diary/base.html' %}

{% block content %}
<div class="container">
    <h2 class="mb-4">{{ book.name }}</h2>

    <div class="book-cover text-center mb-3">
        <img src="{{ book.cover_url }}" alt="Обложка книги" class="img-fluid" style="max-width: 200px;">
    </div>

    <p><strong>Автор:</strong> {{ book.author }}</p>
    <p><strong>Год:</strong> {{ book.year }}</p>
    <p><strong>Дата начала чтения:</strong> {{ book.start_reading|default:"—" }}</p>
    <p><strong>Дата окончания чтения:</strong> {{ book.end_reading|default:"—" }}</p>
    <p><strong>Заметки:</strong></p>
    <div class="notes">
        {{ book.notes|safe }}
    </div>
    <a href="{% url 'book_delete_confirm' pk=book.id %}" class="btn btn-danger">Удалить книгу</a>
    <a href="{% url 'edit_book' book.id %}" class="btn btn-warning">✏️ Редактировать</a>
    <a href="{% url 'book_list' %}" class="btn btn-secondary">⬅ Назад</a>
</div>
{% endblock %}
