{% extends 'diary/base.html' %}

{% block content %}
<h1 class="text-center">Моя книжная полка</h1>

<!-- Форма поиска -->
<form method="GET" action="{% url 'book_list' %}" class="mb-3">
    <div class="input-group">
        <input type="text" name="q" value="{{ query }}" class="form-control" placeholder="Поиск по моим книгам">
        <button type="submit" class="btn btn-primary">🔍 Поиск</button>
    </div>
</form>

<a href="{% url 'book_create' %}" class="btn btn-success mb-3">➕ Добавить книгу</a>

<!-- Список книг пользователя -->
<div class="bookshelf">
  <h3>📚 Мои книги</h3>
  {% if books %}
    <div class="books-grid">
    {% for book in books %}
      <div class="book-card" style="background-color: {{ colors|random }};">
        <div class="book-cover">
            {% if book.cover_image %}
                <img src="{{ book.cover_image.url }}" alt="Обложка книги">
            {% else %}
                <img src="https://via.placeholder.com/150" alt="Нет обложки">
            {% endif %}
        </div>
        <div class="book-info">
            <h5>{{ book.name }}</h5>
            <p class="mb-1 text-muted book-author">{{ book.author }}</p>
            {% if book.year %}
                <p class="mb-1 text-muted">{{ book.year }}</p>
            {% endif %}
        </div>
        <div class="book-actions">
            <a href="{% url 'book_edit' book.id %}" class="btn btn-sm btn-primary">✏️</a>
            <a href="{% url 'book_delete' book.id %}" class="btn btn-sm btn-danger">🗑️</a>
        </div>
      </div>
    {% endfor %}
    </div>
  {% else %}
    <p class="text-center">Вы еще не добавили книги.</p>
  {% endif %}
</div>

{% endblock %}
